<table class="ui green unstackable striped celled table">
  <thead>
    <tr>
      <th class="three wide right aligned"><%= t('.http_verb') %></th>
      <th class="center aligned"><%= t('.endpoint') %></th>
      <th class="three wide"><%= t('.samples_count') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @endpoints %>
  </tbody>
</table>
